<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SocketWrapper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2778DB0D1F2F6DF500F6A289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2778DB161F2F6DF500F6A289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BC602A1F360B71001E109F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27BC60321F360B71001E109F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
